<launch>
    <!-- rosserial node -->
    <arg name="port" value="/dev/ttyACM0"/>
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py">
        <param name="port" type="string" value="$(arg port)"/>
    </node>

    <!-- serial listener node -->
    <node name="serial_listener" pkg="turtlesim_control" type="serial_subscriber.py" output="screen"/>

    
</launch>